"cordova-plugin-ios-objectivec-header": {
  "prefix": "cord-plg",
  "body": [
    "#import <Cordova/CDVPlugin.h>",
    "",
    "/// hello world plugin",
    "/// class name:(8)iOSNativeClass",
    "@interface ${1:iOSNativeClass} : CDVPlugin",
    "",
    "@end",
    ""
  ],
  "description": "Cordova Plugin Snippet for iOS Objective-C Header"
}
